################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StockfishV0/FileContentIndex/fcefde5c-4bb7-46eb-9e20-2218934e58bc.vsidx
/.vs/StockfishV0/FileContentIndex/742bfcd5-88a5-4be4-9a76-539377139ef0.vsidx
/.vs/ProjectEvaluation/stockfishv0.metadata.v9.bin
/.vs/ProjectEvaluation/stockfishv0.projects.v9.bin
/.vs/ProjectEvaluation/stockfishv0.strings.v9.bin
/.vs/StockfishV0/FileContentIndex/2f5f2b3a-3829-461f-9c1d-7cf9c90743e2.vsidx
/.vs/StockfishV0/FileContentIndex/3ec704d3-961a-46fe-9d9a-8af1d3070eb1.vsidx
/.vs/StockfishV0/FileContentIndex/9668e6f6-88da-4a1f-97f7-707f2c6f831a.vsidx
/.vs/StockfishV0/FileContentIndex/be23a29f-2bd9-42ab-935b-23b9ec01f2e0.vsidx
/.vs/StockfishV0/FileContentIndex/d67fef63-c536-4dc1-92ae-48b66a6b8f55.vsidx
