################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StockfishV0/FileContentIndex/fcefde5c-4bb7-46eb-9e20-2218934e58bc.vsidx
/.vs/StockfishV0/FileContentIndex/742bfcd5-88a5-4be4-9a76-539377139ef0.vsidx
/.vs/ProjectEvaluation/stockfishv0.metadata.v9.bin
/.vs/ProjectEvaluation/stockfishv0.projects.v9.bin
/.vs/ProjectEvaluation/stockfishv0.strings.v9.bin
